
<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{% url 'home_page' %}" class="logo">
									<span class="fa fa-car"></span> <span class="title">Car Dealer</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{% url 'home_page' %}">Home</a></li>

							<li><a href="{% url 'all_cars' %}">Cars</a></li>

							<li>
								<a href="#" class="dropdown-toggle">About</a>

								<ul>
									<li><a href="{% url 'about_page' %}">About Us</a></li>
									<li><a href="{% url 'teams' %}">Team</a></li>
									<li><a href="{% url 'blog' %}" class="active">Blog</a></li>
									<li><a href="{% url 'testimonials' %}">Testimonials</a></li>
									<li><a href="{% url 'faq' %}">FAQ</a></li>
								</ul>
							</li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
							{% if request.user.is_authenticated %}
							<li class="nav-item"><a href="{% url 'user_logout' %}" class="nav-link">{{request.user}}/Logout</a></li>
                			{% else %}
                			<li class="nav-item"><a href="{% url 'user_login' %}" class="nav-link">Register/Login</a></li>
                			{% endif %}
							<li><a href="{% url 'enquiry_page' %}">Inquiries</a></li>
							<li><a href="{% url 'chatbot' %}">Chat Support</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Blog</h1>

							<div class="image main">
								<img src="{% static 'images/banner-image-6-1920x500.jpg' %}" class="img-fluid" alt="" />
							</div>

							<div class="container-fluid">
								<div class="row">
									<div class="col-9">
										<div class="row">
											<div class="col-sm-6 text-center">
												<img src="{% static 'images/blog-1-720x480.jpg' %}" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">How Close are we to Autonomous Cars?</a></h2>

												<p>George Brown &nbsp;|&nbsp; 12/12/2023 10:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="{% static 'images/blog-2-720x480.jpg' %}" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">10 Most Comfortable Luxury Cars in 2023</a></h2>

												<p>Isabella Evans &nbsp;|&nbsp; 12/12/2023 07:00</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="{% static 'images/blog-3-720x480.jpg' %}" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">How Close are we to Autonomous Cars?</a></h2>

												<p> John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
											</div>

											<div class="col-sm-6 text-center">
												<img src="{% static 'images/blog-3-720x480.jpg' %}" class="img-fluid" alt="" />

												<h2 class="m-n"><a href="blog-post.html">10 Most Comfortable Luxury Cars in 2023.</a></h2>

												<p> John Doe &nbsp;|&nbsp; 12/06/2020 10:30</p>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="form-group">
				                            <h4>Blog Search</h4>
				                        </div>

										<div class="form-group">
				                            <div class="input-group">
				                                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">

				                                <span class="input-group-addon"><a href="#"><i class="fa fa-search"></i></a></span>
				                            </div>
				                        </div>

				                        <br>

				                        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>

				                        <p><a href="#">Non, magni, sequi. Explicabo illum quas debitis ut.</a></p>

				                        <p><a href="#">Vatae expedita deleniti optio ex adipisci . </a></p>

				                        <p><a href="#">Soluta non modi dolorem voluptates dolor laborum.</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2020 Car Dealer</li>

							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>